{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News App</title>
    <link rel="stylesheet" href="{% static 'style1.css' %}" />
    
  </head>
  <body>
    <nav>
      <div class="main-nav container flex">
        <div class="nav-links">
          <ul class="flex">
            <li
              class="hover-link nav-item"
              id="Education"
              onclick="onNavItemClick('Education')"
            >
              <a href="{% url 'b'  %}">Business</a>
            </li>
            <li
              class="hover-link nav-item"
              id="ipl"
              onclick="onNavItemClick('ipl')"
            >
              <a href="{% url 't' %}">Sports</a>
            </li>
            <li
              class="hover-link nav-item"
              id="finance"
              onclick="onNavItemClick('finance')"
            >
              <a href="{% url 's' %}">Science</a>
            </li>
            <li
              class="hover-link nav-item"
              id="politics"
              onclick="onNavItemClick('politics')"
            >
              <a href="{% url 'p' %}">Entertainment</a>
            </li>
          </ul>
        </div>
        <div class="search-bar flex">
          <form id="search-form" method="POST" action="{% url 'h' %}">
            {% csrf_token %}
            <input type="text" name="search_text" placeholder="Search News">
            <button id="search-button" class="search-button">Search</button>
          </form>          
          <a href="{% url 'l' %}" id="logout-link">
            <button id="search-button" class="search-button">logout</button>
          </a>
          <a href="{% url 'f' %}" id="feedback-link" style="margin-left: auto"
            >Send Feedback</a
          >
        </div>
      </div>
    </nav>

    <main>
      <div class="cards-container container flex" id="cards-container">
        {% for news, desc, img, url in mylist %}
        <a href="{{ url }}" class="card-link">
          <div class="card">
            <div class="card-header">
              <img src="{{ img }}" alt="news-image" id="news-img" />
            </div>
            <div class="card-content">
              <h3>{{ news }}</h3>
              <h6 class="news-source">End Gadget 26/08/2023</h6>
              <p class="news-desc">{{ desc }}</p>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </main>
    <template id="template-news-card">
      <div class="card">
        <div class="card-header">
          <img
            src="https://via.placeholder.com/400x200"
            alt="news-image"
            id="news-img"
          />
        </div>
      </div>
    </template>
    <script>
  </script>
  
  </body>
</html>
